@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Quintessential&display=swap');

body {
    font-family: 'Quintessential', 'cursive';
    padding: 0;
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a {
    text-decoration: none;
    color:#c70d0d
}
a:hover {
    color: #0d10c7;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
nav {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
header li {
    float: right;
    font-size: 1.2em;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
#logo {
    font-family: 'Quintessential', cursive;
    font-weight: bold;
    float: left;
    
}
#imagePrincipale {
    padding-top: 60px;
    background: url(Media/Mario.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}
h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 3px 5px 4px black;
}
#premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #FFFAE1;
    box-shadow: 1px 3px 2px black;
}
h3 {
    text-align: center;
    color:antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
}
  /* *************** PRESENTATION ********************** */
#presentation {
    background-color: #6b6b6b;
    padding: 10px 0px 100px 0;
}
#texteIntro {
    padding: 0px 20%;
    text-align: center;
}
#meilleurConsoles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 20%;  
}
.imageMeilleurConsoles h4 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}
.imageMeilleurConsoles img {
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
}
.imageMeilleurConsoles img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}
  /* ******************* FOOTER ******************** */
footer {
    background-color: #000000;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
}
form {
    margin: 0 auto;
    max-width: 900px;
}
input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
}
textarea {
    height: 120px;
}
button {
    font-size: 1.5em;
    background-color: #FFFAE1;
}
button:hover {
    background-color: #c70d0d;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#deuxiemeTrait {
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}
#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright {
    width: 50%;
    text-align: left;
    color: #ffffff;
    font-family: nope;
}
#icons {
    width: 50%;
    text-align: right;
    padding: 0 3.4%;
}
#icons a {
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: #c70d0d;
    
}
#icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
}
